.topRow{
  content: "";
  display: table;
  clear: both;
}
.leftColumn{
   float: left;
   width: 45%;
}

.rightColumn{
   float: left;
   width: 45%;
}

.colum1row1colum1{
   float: left;
   width: 49%;
   border:1px solid black;
}

.colum1row2colum2{
   float: left;
   width: 49%;
  border:1px solid black;
}
.colum2row2{
	border:1px solid black;
}
img{

  width:100%;
  object-fit:cover;
}
li:hover {
  color:yellow
}
p {
  margin:0 
}
nav ul{height:200px; width:18%;}
nav ul{overflow:hidden; overflow-y:scroll;}
